/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6); /* Poluprozirna sivkasta pozadina */
  padding: 10px 0;  /* Manje paddinga za manju visinu trake */
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-list {
  display: flex;
  gap: 50px; /* Manji razmak između stavki */
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem; /* Manji font za stavke navigacije */
  font-weight: bold;
  letter-spacing: 1px; /* Malo manji prored između slova */
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fbc02d; /* Žuti hover efekt */
}

/* Hero Section */
.hero-header {
  background-image: url('../assets/images/pokusaj.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10%;
}

.hero-header h1 {
  font-size: 4.5rem; /* Veći tekst za "Explore Mostar" */
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero-header p {
  font-size: 1.5rem;
  max-width: 600px;
  margin-bottom: 30px;
}

.hero-header .btn-explore {
  background-color: #ffd700;
  color: black;
  padding: 15px 40px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-header .btn-explore:hover {
  background-color: #ffc800;
  transform: scale(1.05);
}
